// Glyphicons font path
$screen-lg: 1220px;
$grid-gutter-width: 30px;
$container-large-desktop: 1180px + $grid-gutter-width;

$icon-font-path:        "../fonts/";

$icon-sprite:        "../images/hbo-nordic-sprites.svg";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #1f2c31;
$brand-secondary: #3b5f70;

$white: #ffffff;
$black: #000000;

$icon-sprite: "../images/sprite-bilon.svg";
$icon-sm-mobile: "";

// Fonts
$text-color: #4e6670;
$white: #ffffff;

//** Navmenu link color
$nav-link-color:		#163342;

//** Global textual link color.
$link-color:            #323b3f;//$white !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color; //darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: none;

//** Font Family
$font-family-base:       'Titillium Web', sans-serif;
//** Line height
$line-height-base: 1.45;

//** By default, this inherits from the `<body>`.
// $headings-font-family:    'Bitter', serif;
// $headings-font-weight:    700;
// $headings-line-height:    1.25;
// $headings-color:          $text-color;